/* Fire scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Stone */
  --color-neutral-50: 250, 250, 249;
  --color-neutral-100: 245, 245, 244;
  --color-neutral-200: 231, 229, 228;
  --color-neutral-300: 214, 211, 209;
  --color-neutral-400: 168, 162, 158;
  --color-neutral-500: 120, 113, 108;
  --color-neutral-600: 87, 83, 78;
  --color-neutral-700: 68, 64, 60;
  --color-neutral-800: 41, 37, 36;
  --color-neutral-900: 28, 25, 23;
/* Blue Gray (#BDCFCF) */
--color-primary-50: 245, 249, 249;
--color-primary-100: 233, 242, 242;
--color-primary-200: 217, 232, 232;
--color-primary-300: 201, 223, 223;
--color-primary-400: 189, 207, 207;
--color-primary-500: 189, 207, 207;
--color-primary-600: 162, 184, 184;
--color-primary-700: 134, 161, 161;
--color-primary-800: 106, 138, 138;
--color-primary-900: 78, 115, 115;
/* Green (#2E9252) */
--color-secondary-50: 235, 248, 240;
--color-secondary-100: 214, 239, 224;
--color-secondary-200: 181, 223, 198;
--color-secondary-300: 144, 206, 168;
--color-secondary-400: 92, 180, 126;
--color-secondary-500: 46, 146, 82;
--color-secondary-600: 38, 125, 70;
--color-secondary-700: 32, 105, 60;
--color-secondary-800: 26, 85, 50;
--color-secondary-900: 21, 65, 40;

}
